In [2]:
import pandas as pd
import sqlite3
import pandas as pd

In [3]:
# Listas para os chamdos TI
chamados_TI = [
    ['ID','Titulo','Descricao','Data_abertura','Status','Prioridade','ID_Departamento','ID_Usuario'],
    [1,'Conexão lenta','Conexão de internet lenta demais','03 mar. 23','Concluída','Baixa',1,1],
    [2,'Conexão lenta','Conexão muito lenta','09 mar. 23','Concluída','Baixa',2,2],
    [3,'Computador lento','Computador demora para abrir os programas','15 mar. 23','Concluída','Alta',3,3],
    [4,'Monitor com defeito','display com risco vermelho','29 mar. 23','Em Progresso','Média',4,4],
    [5,'Conexão lenta',"Não consigo navegar pela plataforma da empresa, conexão lenta",'12 ago. 23','Em Progresso','Baixa',5,5],
    [6,'Troca de componentes','mouse com problemas','13 ago. 23','Aberto','Média',5,5],
    [7,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','14 ago. 23','Aberto','Alta',5,4],
    [8,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','15 ago. 23','Aberto','Alta',2,9],
    [9,'Solicitação de acesso','Preciso de acesso liberado a determinados sites','16 ago. 23','Aberto','Alta',1,10],
    [10,'Conexão lenta','Conexão lenta','17 ago. 23','Em Progresso','Baixa',5,7],
    [11,'Conexão lenta','Dificuldade de acesso','17 ago. 23','Em Progresso','Baixa',2,5],
]

# Listas para os usuários
usuarios  = [
    ['ID','Nome','Email','ID_Departamento'],
    [1,'André Felipe','andre@gmail.com',1],
    [2,'Josias Meira','Josias@gmail.com',2],
    [3,'Ulysses Bernardo','ulysses@gmail.com',3],
    [4,'Lívia Melo','livia@gmail.com',4],
    [5,'Jéssica Frutado','jessica@gmail.com',5],
    [6,'Vitória Silva','fulano@gmail.com',5],
    [7,'Larissa Meira','larissa@gmail.com',1],
    [8,'Alysson Silva','alysson@gmail.com',1],
    [9,'Júnior Sales','junior@gmail.com',2],
    [10,'Bianca Andrade','bianca@gmail.com',1],
    [11,'Jéssica Campos','jessica@gmail.com',5],
    [12,'Rafael Rafaelo','rafinha@gmail.com',3],
    [13,'José Matheus','josemat@gmail.com',2],
]


# Listas para os departamentos
departamentos = [
    ['id','Departamentos'],
    [1,'TI'],
    [2,'RH'],
    [3,'Compras'],
    [4,'Produção'],
    [5,'Depósito'],
    [6,'Vendas'],
    [7,'Financeiro'],
]

# Lista de inventário
inventario = [
    ['ID', 'Modelo', 'SO', 'ID_Departamento', 'ID_Usuario'],
    ['PC001', 'Lenovo Ideapad S145', 'Windows 10', 1, 1],
    ['PC002', 'HP Pavilion x360', 'Windows 10', 2, 2],
    ['PC003', 'HP Pavilion x360', 'Windows 10', 3, 3],
    ['PC004', 'HP Pavilion x360', 'Ubuntu 20.10', 4, 4],
    ['PC005', 'HP Pavilion x360', 'Ubuntu 20.10', 5, 5],
    ['PC006', 'Acer Aspire 5', 'Ubuntu 20.10', 5, 6],
    ['PC007', 'Acer Aspire 5', 'Ubuntu 20.10', 1, 7],
    ['PC008', 'Acer Aspire 5', 'Windows 10', 1, 8],
    ['PC009', 'Acer Aspire 5', 'Windows 10', 2, 9],
    ['PC010', 'Acer Aspire 5', 'Windows 10', 1, 10],
    ['PC011', 'Lenovo Ideapad S145', 'Ubuntu 20.10', 5, 11],
    ['PC012', 'Lenovo Ideapad S145', 'Ubuntu 20.10', 3, 12],
    ['PC013', 'Acer Aspire 5', 'Windows 10', 2, 13],
]

In [4]:
# Criando DataFrames com as listas passadas

dfChamados = pd.DataFrame(chamados_TI[1:], columns=chamados_TI[0], index = None)
dfUsuarios = pd.DataFrame(usuarios[1:], columns=usuarios[0], index = None)
dfDepartamentos = pd.DataFrame(departamentos[1:], columns=departamentos[0], index = None)
dfInventario = pd.DataFrame(inventario[1:], columns=inventario[0], index = None)

In [5]:
# Gerando arquivos CSV

dfChamados.to_csv('arquivos_csv/chamados.csv', index=False)
dfUsuarios.to_csv('arquivos_csv/usuarios.csv', index=False)
dfDepartamentos.to_csv('arquivos_csv/departamentos.csv', index=False)
dfInventario.to_csv('arquivos_csv/inventario.csv', index=False)

## Criação de arquivos JSON

In [7]:
import json
import csv

# Nome do arquivo CSV de entrada
csv_Chamados = 'arquivos_csv/chamados.csv'
csv_Usuarios = 'arquivos_csv/usuarios.csv'
csv_Departamentos = 'arquivos_csv/departamentos.csv'
csv_Inventario = 'arquivos_csv/inventario.csv'

# Nome do arquivo JSON de saída
json_Chamados = 'arquivos_json/chamados.json'
json_Usuarios = 'arquivos_json/usuarios.json'
json_Departamentos = 'arquivos_json/departamentos.json'
json_Inventario = 'arquivos_json/inventario.json'

# Lista para armazenar os dados do CSV
dados_csv_Chamados = []
dados_csv_Usuarios = []
dados_csv_Departamentos = []
dados_csv_Inventario = []

# Abrir arquivo no modo leitura e incluir dados nas listas acima
with open(csv_Chamados, mode='r', newline='', encoding='utf-8') as arquivo:
    leitor_csv = csv.DictReader(arquivo)
    for linha in leitor_csv:
        dados_csv_Chamados.append(linha) 

with open(csv_Usuarios, mode='r', newline='', encoding='utf-8') as arquivo:
    leitor_csv = csv.DictReader(arquivo)
    for linha in leitor_csv:
        dados_csv_Usuarios.append(linha)
        
with open(csv_Departamentos, mode='r', newline='', encoding='utf-8') as arquivo:
    leitor_csv = csv.DictReader(arquivo)
    for linha in leitor_csv:
        dados_csv_Departamentos.append(linha)

with open(csv_Inventario, mode='r', newline='', encoding='utf-8') as arquivo:
    leitor_csv = csv.DictReader(arquivo)
    for linha in leitor_csv:
        dados_csv_Inventario.append(linha)
        

# Escrever os dados em um arquivo JSON (Apenas para salvar)
with open(json_Chamados, 'w', encoding='utf-8') as arquivo:
    json.dump(dados_csv_Chamados, arquivo, indent=4, ensure_ascii=False)
    
with open(json_Usuarios, 'w', encoding='utf-8') as arquivo:
    json.dump(dados_csv_Usuarios, arquivo, indent=4, ensure_ascii=False)
    
with open(json_Departamentos, 'w', encoding='utf-8') as arquivo:
    json.dump(dados_csv_Departamentos, arquivo, indent=4, ensure_ascii=False)
    
with open(json_Inventario, 'w', encoding='utf-8') as arquivo:
    json.dump(dados_csv_Inventario, arquivo, indent=4, ensure_ascii=False)

In [8]:
from fastapi import FastAPI
app = FastAPI()

# Decorador Default root endpoint
@app.get("/")
async def root():
  return { "API de Chamados em funcionamento" }

# Decorador que traz o Json com o dicionário com todos alunos
@app.get("/chamados/")
async def get_alunos():
    return dados_csv_Chamados

# Decorador que traz o Json com o dicionário com todos alunos
@app.get("/usuarios/")
async def get_alunos():
    return dados_csv_Usuarios

# Decorador que traz o Json com o dicionário com todos alunos
@app.get("/departamentos/")
async def get_alunos():
    return dados_csv_Departamentos

# Decorador que traz o Json com o dicionário com todos alunos
@app.get("/inventario/")
async def get_alunos():
    return dados_csv_Inventario

In [9]:
dados_csv_Chamados[0]

{'ID': '1',
 'Titulo': 'Conexão lenta',
 'Descricao': 'Conexão de internet lenta demais',
 'Data_abertura': '03 mar. 23',
 'Status': 'Concluída',
 'Prioridade': 'Baixa',
 'ID_Departamento': '1',
 'ID_Usuario': '1'}

In [10]:
# Conexão com banco de dados

conn = sqlite3.connect('chamados.db')

In [11]:
# Criação da tabela chamados

create_chamados_table_sql = '''
create table if not exists chamados_TI (
    ID int primary key,
    titulo text,
    Descricao text,
    Data_abertura text,
    Status text,
    Prioridade int,
    ID_Departamento int,
    ID_Usuario int
)
'''
conn.execute(create_chamados_table_sql)

In [12]:
# Utilizando pandas para inserir os registros na tabela
dfChamados.to_sql('chamados_TI', conn, if_exists = 'replace', index = False)

11

In [13]:
# Criando tabelas para Usuarios e Departamentos

create_usuarios_table_sql = '''
create table if not exists Usuarios (
    ID int primary key,
    Nome text,
    Email text,
    Id_Departamento int
)
'''

create_departamentos_table_sql = '''
create table if not exists Departamentos (
    ID int primary key,
    Departamentos text
)
'''

conn.execute(create_usuarios_table_sql)
conn.execute(create_departamentos_table_sql)

In [14]:
dfUsuarios.to_sql('Usuarios', conn, if_exists = 'replace', index = False)
dfDepartamentos.to_sql('Departamentos', conn, if_exists = 'replace', index = False)

7

In [15]:
# Fechando conexão
conn.close()

In [16]:
conn = sqlite3.connect('chamados.db')

### Realizando as consultas

In [17]:
# Teste
teste = '''
select * from chamados_TI
'''
result_df = pd.read_sql_query(teste, conn)
result_df

,ID,Titulo,Descricao,Data_abertura,Status,Prioridade,ID_Departamento,ID_Usuario
0,1,Conexão lenta,Conexão de internet lenta demais,03 mar. 23,Concluída,Baixa,1,1
1,2,Conexão lenta,Conexão muito lenta,09 mar. 23,Concluída,Baixa,2,2
2,3,Computador lento,Computador demora para abrir os programas,15 mar. 23,Concluída,Alta,3,3
3,4,Monitor com defeito,display com risco vermelho,29 mar. 23,Em Progresso,Média,4,4
4,5,Conexão lenta,Não consigo navegar pela plataforma da empresa...,12 ago. 23,Em Progresso,Baixa,5,5
5,6,Troca de componentes,mouse com problemas,13 ago. 23,Aberto,Média,5,5
6,7,Solicitação de acesso,Preciso de acesso liberado a determinados sites,14 ago. 23,Aberto,Alta,5,4
7,8,Solicitação de acesso,Preciso de acesso liberado a determinados sites,15 ago. 23,Aberto,Alta,2,9
8,9,Solicitação de acesso,Preciso de acesso liberado a determinados sites,16 ago. 23,Aberto,Alta,1,10
9,10,Conexão lenta,Conexão lenta,17 ago. 23,Em Progresso,Baixa,5,7
10,11,Conexão lenta,Dificuldade de acesso,17 ago. 23,Em Progresso,Baixa,2,5

### Relação de todos os usuários por departamento em ordem alfabética.

In [18]:
query1 = '''
select 
    Usuarios.Nome, 
    Departamentos.Departamentos
from Usuarios
join Departamentos on Usuarios.ID_Departamento = Departamentos.id
order by Departamentos.Departamentos desc, Usuarios.Nome asc
'''

resultado_query1 = pd.read_sql_query(query1, conn)
resultado_query1

                Nome Departamentos
0      Alysson Silva            TI
1       André Felipe            TI
2     Bianca Andrade            TI
3      Larissa Meira            TI
4       Josias Meira            RH
5       José Matheus            RH
6       Júnior Sales            RH
7         Lívia Melo      Produção
8     Jéssica Campos      Depósito
9    Jéssica Frutado      Depósito
10     Vitória Silva      Depósito
11    Rafael Rafaelo       Compras
12  Ulysses Bernardo       Compras

### Relação de todos os chamados por grau de prioridade de atendimento (baixa, normal ou alta).

In [19]:
query2 = '''
select
    Chamados_ti.id,
    Chamados_ti.titulo,
    Chamados_ti.descricao,
    Chamados_ti.data_abertura,
    Chamados_ti.status,
    Chamados_ti.prioridade,
    Departamentos.Departamentos as Departamento,
    Usuarios.Nome as Usuario
from Chamados_ti
join Departamentos on Chamados_ti.ID_Departamento = Departamentos.ID
join Usuarios on Chamados_ti.ID_Usuario = Usuarios.ID
order by Prioridade asc
'''
resultado_query2 = pd.read_sql_query(query2, conn)

# Função para mudar os valores de "Prioridade"
def muda_valor(x):
    if x == 1:
        return "Baixa"
    elif x == 2:
        return "Média"
    elif x == 3:
        return "Alta"

resultado_query2['Prioridade'] = resultado_query2['Prioridade'].map(muda_valor)

In [20]:
resultado_query2

,ID,Titulo,Descricao,Data_abertura,Status,Prioridade,Departamento,Usuario
0,3,Computador lento,Computador demora para abrir os programas,15 mar. 23,Concluída,None,Compras,Ulysses Bernardo
1,7,Solicitação de acesso,Preciso de acesso liberado a determinados sites,14 ago. 23,Aberto,None,Depósito,Lívia Melo
2,8,Solicitação de acesso,Preciso de acesso liberado a determinados sites,15 ago. 23,Aberto,None,RH,Júnior Sales
3,9,Solicitação de acesso,Preciso de acesso liberado a determinados sites,16 ago. 23,Aberto,None,TI,Bianca Andrade
4,1,Conexão lenta,Conexão de internet lenta demais,03 mar. 23,Concluída,None,TI,André Felipe
5,2,Conexão lenta,Conexão muito lenta,09 mar. 23,Concluída,None,RH,Josias Meira
6,5,Conexão lenta,Não consigo navegar pela plataforma da empresa...,12 ago. 23,Em Progresso,None,Depósito,Jéssica Frutado
7,10,Conexão lenta,Conexão lenta,17 ago. 23,Em Progresso,None,Depósito,Larissa Meira
8,11,Conexão lenta,Dificuldade de acesso,17 ago. 23,Em Progresso,None,RH,Jéssica Frutado
9,4,Monitor com defeito,display com risco vermelho,29 mar. 23,Em Progresso,None,Produção,Lívia Melo
10,6,Troca de componentes,mouse com problemas,13 ago. 23,Aberto,None,Depósito,Jéssica Frutado

### Quem foi o usuário que abriu mais chamados e em que quantidade?

In [21]:
query3 = '''
select
    Usuarios.nome as Usuario,
    Departamentos.Departamentos as Departamento,
    count(Chamados_ti.ID) as Total_Chamados
from Usuarios
join Chamados_ti on Usuarios.id = Chamados_ti.ID_Usuario
join Departamentos on Usuarios.ID_Departamento = Departamentos.ID
group by Usuarios.ID, Usuarios.Nome, Departamentos.Departamentos
order by Total_Chamados desc
limit 1
'''

resultado_query3 = pd.read_sql_query(query3, conn)
resultado_query3

           Usuario Departamento  Total_Chamados
0  Jéssica Frutado     Depósito               3

### Quantidade de chamados por departamento.

In [22]:
query4 = '''
select
    Departamentos.Departamentos as DepartamentoS,
    count(chamados_ti.ID) as Quantidade_Chamados
from chamados_ti
join Usuarios on chamados_ti.ID_Usuario = Usuarios.ID
join Departamentos on Usuarios.ID_Departamento = Departamentos.ID
group by Departamentos.ID, Departamentos.Departamentos
order by Quantidade_Chamados asc
'''
resultado_query4 = pd.read_sql_query(query4, conn)
resultado_query4

  DepartamentoS  Quantidade_Chamados
0       Compras                    1
1            RH                    2
2      Produção                    2
3            TI                    3
4      Depósito                    3